@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500&display=swap");
:root {
  --grey: #d4d8d9;
  --pink: #df9186;
  --light-background: #f2f2f2;
  --text-color: #949ea0;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  background-color: var(--light-background);
}
.push-bottom {
  padding-bottom: 63px;
}
.navbar {
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
  height: 63px;
}
.push-top {
  top: 63px !important;
}
input::placeholder {
  font-size: 14px;
  color: var(--text-color) !important;
}
.color-pink {
  color: var(--pink);
}
